<h1>Listing winks</h1>

<table>
  <tr>
    <th>Friend</th>
    <th>Match</th>
    <th>Status</th>
  </tr>

<% @winks.each do |wink| %>
  <tr>
    <td><%= gravatar_for find_user wink.friend_id %></td>
    <td><%= gravatar_for find_user wink.match_id %></td>
    <td><span style="font-size:14px;" class="label <%= get_status wink.status %>"><%= wink.status %></span></td>
  </tr>
<% end %>
</table>

<br />